:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
  display: grid;
  grid-template-columns:1fr 1140px 1fr;
  margin-inline: auto;
}
.center{
  grid-column: 2/3;
}
.full{
  grid-column: 1/4;
}

@media (width < 1440px) {
  .container {
    grid-template-columns: 1fr 1140px 1fr;
  }
  .center{
    grid-column: 2/3;
  }
  .full{
    grid-column: 1/4;
  }
}



.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-head{
  margin-top: 100px;
}



.h2{
  font-family: 'Playfair Display', serif;
}

.btn{
  display: flex;
width: 265px;
padding: 32px 20px;
justify-content: center;
align-items: center;
gap: 18px;
border-radius: 10px;
border: none;
background: #70908B;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}